<%- include("../../views/partials/admin/header") %>


<div class="container my-5 bg-light" style="margin-left: 15%;">
    <h2 class="text-center ">Users</h2>
    <div class="table-responsive" style="border-radius: 10px; padding: 20px; height: 80vh;">
        <table class="table table-striped table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><b>Name</b></th>
                    <th scope="col"><b>Email</b></th>
                    <th scope="col"><b>Phone No</b></th>
                    <th scope="col"><b>Action</b></th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].email %></td>
                        <td><%= data[i].phone %></td>
                        <td>
                            <% if (data[i].isBlocked === false) { %>
                                <button class="btn btn-md" style="background-color: red;">
                                    <a href="/admin/blockCustomer?id=<%= data[i].id %>" class="text-white" style="text-decoration: none;">
                                        <i class="fas fa-ban"></i> Block
                                    </a>
                                </button>
                            <% } else { %>
                                <button class="btn btn-success btn-md">
                                    <a href="/admin/unblockCustomer?id=<%= data[i].id %>" class="text-white" style="text-decoration: none;">
                                        <i class="fas fa-check"></i> Unblock
                                    </a>
                                </button>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-4">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

<%- include("../../views/partials/admin/footer") %>